<div id="div_one">
    <ul id= "writing_list">
      <%@writings.each do |writing| %>
    <li id="entry_number_<%=@writings.index(writing)%>"><%=writing.title%></li>
    <%end%>
  </ul>
</div>

<div id="writing_sample">
<!--  <h3 class= "writing_title"></h3> -->
 <span class= "writing_content">Surly dark-faced men labor in predawn silence, the red sand disturbed by the rustle of heavy boots. Spread out behind them like the wake of a slow-moving boat is the result of their toil: a line of electric towers, enormous constructions of iron and wire, stretching out like a metal vein. No one is guiding the workers, they work by instinct. No one speaks. The blossoming dawn is punctuated with the whirring of machines and the occasional festive shower of sparks. The faceless acolytes trek across the landscape, noiselessly bringing with them the spectre of a new order, and the accompanying values, confusion, bathtubs, Coca-Cola, etc. On a nearby hill, a shepherd boy watches their progress with indifference.</span>
</div> 