#soul_title {
  font-size: 10em;


}

#soul_title a{
  text-decoration: none;
  color: FloralWhite;
}

#soul_title a:hover{
  color: FireBrick;
}

#enter_page{
  height: 100em;
  background-image: url("artists_portfolio.jpg");
  }

#home_link a{
  text-decoration: none;
  font-family: generica;
  color: black;
  font-size: 1.5em;
}