#video_list{
  display: inline;
  position: fixed;
  list-style-type: none;
  font-family: generica;
  font-size: 24px; 
}

#div_one{
  display: inline-block;
}

#video_sample{
  display: inline-block;
  position: absolute;
  margin-left: 20em;
  margin-top: 1.5em;
}

.active{
  font-weight: bold;  
}
