// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#password_field{
  
padding: 1em .75em .6875em;
width: 300px;

}

#signin_form{
  margin-left: 30em;
  margin-top: 2em;
}