// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#info_photo{
  margin-left: 4.5em;
  margin-top: 1.5em;
  width: 25em;
  length: 25em;
}

#info_text{
  display: inline-block;
  position: absolute;
  width: 20em;
  length: 20em;
  margin-left: 10em;
  margin-top: 0.5em;
}