#writing_list{
  display: inline;
  position: fixed;
  list-style-type: none;
  font-family: generica;
  font-size: 24px; 
}

#div_one{
  display: inline-block;
}

#writing_sample{
  display: inline-block;
  position: absolute;
  width: 40em;
  length: 20em;
  margin-left: 30em;
  margin-top: 2.5em;
}

h3{
  font-family: generica;
}
